name: Gravar Live Nerd

on:
  schedule:
    - cron: '50 21 * * 5,6,0'
  workflow_dispatch:

jobs:
  gravar:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    
    env:
      TZ: 'America/Sao_Paulo'
      URL_DO_CANAL: 'https://www.youtube.com/@republicacoisadenerd/live'
      NOME_DO_REMOTO: 'MeuDrive'
      FOLDER_ID: '1vQiWhlXTo9sJuEtCjwfUqwoV_K2Gh3Yl'

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg python3 curl
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp
          curl https://rclone.org/install.sh | sudo bash

      - name: Setup Deno (Necessário para o yt-dlp)
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Configurar Cookies e Rclone
        run: |
          # Escreve os cookies se o segredo existir
          if [ -n "${{ secrets.YOUTUBE_COOKIES }}" ]; then
            echo "${{ secrets.YOUTUBE_COOKIES }}" > $HOME/yt-cookies.txt
          fi
          
          # Configura o Rclone criando o arquivo manualmente
          mkdir -p ~/.config/rclone
          echo "${{ secrets.RCLONE_CONFIG }}" > ~/.config/rclone/rclone.conf

      - name: Rodar Script de Gravação
        run: |
          chmod +x ./script.sh
          ./script.sh
